# Generic files
out.txt
in.txt
gmon.out
a.out
*.o
*.exe
*.zip

# Project specific files
router/profiling/
router/rotseq_og
router/rotseq_xc
router/rotseq_ak
router/rotseq
router/rotpar

min-edit-distance/dist_seq
min-edit-distance/dist_par
min-edit-distance/dist_par_ini

erase-zeros/remove0_seq
erase-zeros/remove0_par
